<header>
    <app-ideapici-logo-svg [fillColor]="rootStyle.getPropertyValue('--secondary-color')" height="130px" width="auto"></app-ideapici-logo-svg>
    <div class="central-part">
        <p>
            Ideapici
        </p>
        <p>
            Easy peazy, easy PC!
        </p>
    </div>
    <app-connexion-hero-button class="connexion-part">
        <app-people-profile-icon [fillColor]="rootStyle.getPropertyValue('--primary-color')" width="64px" height="64px"></app-people-profile-icon>
    </app-connexion-hero-button>
</header>