#icon {
    width: 1.5vw;
    height: auto;
}

h1 {
    margin-left: 1vw;
    font: var(--description-subtitle-font);
    color: var(--primary-color);
}

figure {
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
}

