img{

    object-fit: cover;
    width: 200px;
    height: 200px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    padding: 10px;
    /* identical to box height, or 30px */
    text-align: center;
    color: #000000;

    /* primary */
    background: #78D6C6;
    border: 1px solid #000000;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card-head{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}
.card-foot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}