@font-face {
    font-family: Poppins;
    src: url("assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Comfortaa;
    src: url("assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors variables */
    --primary-color: #78D6C6;
    --secondary-color: #1E555C;
    --interactible-color: #CCBFE0;
    --interactible-darker-color: #B8ACCA;
    --interactible-darker-2-color: #666070;
    --background-color: #DAF4EF;

    /** set rem base at 16px */
    font-size: 16px;

    /* text font variables */
    --description-subtitle-font: 0.812rem 'Poppins', sans-serif;
    --text-font: 1rem 'Poppins', sans-serif;
    --text-larger-font: 1.250rem 'Poppins', sans-serif;
    --text-title-font: 1.562rem 'Poppins', sans-serif;
    --title-minor-font: 1.938rem 'Comfortaa', sans-serif;
    --title-font: 2.438rem 'Comfortaa', sans-serif;
    --title-major-font: 3.062rem 'Comfortaa', sans-serif;
    --title-page-font: 3.812rem 'Comfortaa', sans-serif;
}

body {
    margin: 0;
    padding: 16px;
    background-color: var(--background-color);

    /* usefull to display on larger screen, juste max using 1980px, margin here to ensure that body is centered */
    max-width: 1980px;
    margin: auto;
}

.major-title {
    font: var(--title-major-font)
}

.text-link {
    font: var(--text-font);
}