<header>
    <app-titled-icon-ideapici></app-titled-icon-ideapici>
    <div class="central-part">
        <nav>
            <!-- TODO : add routerLink directive -->
            <a class="text-title-link">Débutes avec moi</a>
            <a class="text-title-link">Viens voir mes PCs</a>
            <a class="text-title-link">Je t'aide</a>
        </nav>
        <p>
            Easy peazy, easy PC! LA configuration pour TES besoins, grâce à moi!
        </p>
    </div>
    <div class="connexion-part">
        <app-main-icon-button [textToDisplay]="'Connexion'">
            <app-people-profile-icon #svg_to_print [fillColor]="rootStyle.getPropertyValue('--primary-color')"></app-people-profile-icon>
        </app-main-icon-button>
        <br /><br />
        <app-main-icon-button [textToDisplay]="'Inscription'">
            <app-people-incription-add-icon #svg_to_print [fillColor]="rootStyle.getPropertyValue('--primary-color')"></app-people-incription-add-icon>
        </app-main-icon-button>
    </div>
</header>