.not-displayed {
    display: none;
}

.connexion-interactible {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 24px 16px;
    background-color: var(--secondary-color);
    border-radius: 24px;
}

.connexion-interactible-folded {
    row-gap: 64px;
}

.connexion-interactible-expended {
    row-gap: 16px;
    transition: all 200ms linear;
}

.connexion-interactible .connexion-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;

    row-gap: 8px;
}

.connexion-interactible p.interactible-title, .connexion-interactible form label {
    color: var(--primary-color);
}

.connexion-interactible p.interactible-title {
    font: var(--title-minor-font);
    margin: 0;
}

.connexion-interactible a.go-inscription {
    font: var(--text-font);
    margin: 0;
    color: var(--interactible-color);
}

.connexion-interactible form label {
    font: var(--text-title-font);
}

.connexion-interactible form input[type='text'], .connexion-interactible form input[type='password'] {
    font: var(--text-font);
    border-radius: 4px;
    box-shadow: 0px 2px var(--primary-color);
    border: none;
}